.root {
  text-align: center;
}

.header {
  background-color: #222;
  padding: 10px;
  color: white;
  font-size: 20pt;
}

.intro {
  font-size: 15pt;
}

table {
  margin: 100px auto;
}

td {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  font-size: 24px;
}

.player {
  border: solid 1px black;
  width: 100px;
  display: inline-block;
}

.next {
  background-color: grey;
}